<li data-date="<%= new Date(todo.updatedAt).getTime() %>" class="d-flex border-bottom p-3" id="<%= todo._id %>">
    <%= todo.index %>
        <div class="form-check">
            <label class="form-check-label todo-label">
            <%= todo.text %>
        </label>
        </div>

        <span class="text-muted"><%= new Date(todo.updatedAt).toLocaleTimeString() %></span>


</li>